body,
html {
  height: 100%;
}

body {
  background-image: linear-gradient(#3d0b0b, #3b3a3a);
  font-family: Verdana, sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  color: #ebe8e8ce;
}

figcaption {
  text-align: center;
  font-weight: bold;
}

.avatar {
  width: 100%;
}

.avatars {
  display: inline-block;
  width: 23%;
}

.title {
  text-align: center;
  padding: 1em;
}