#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 85vh auto;
}

#messages {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    overflow: scroll;
}

#text {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    font-size: 1em;
}

.incoming {
    background-color: rgb(255, 119, 119);
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 25px;
    width: 80%;
    float: left;
    margin-left: 0;
}

.sent {
    background-color: lightgray;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 25px;
    width: 80%;
    float: right;
    margin-right: 0;
}

.name {
    font-weight: bold;
    margin-bottom: 0;
}

.message {
    font-size: 16pt;
    margin: 0;
}

.time {
    font-size: 8pt;
    margin-top: 0;
}