body {
  background-color: #e08383;
  font-family: Arial;
}
.profile-head h5{
  color: #333;
  font-size: 3em;
}

/* the email  */
.profile-head h6{
  color: #d699ee;
  font-size: 1.25em;
}

.profile-img{
  margin-top: 3%;
  text-align: center;
}
.profile-img img{
  width: 40%;
  height: 40%;
  border-radius: 50%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -10%;
  width: 40%;
  border: none;
  border-radius: 0;
  font-size: 0.9em;
  background: #212529b8;
  color: rgb(255, 255, 255);
}

.profile_container{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #ffffff;
  }
  .profile-work{
    padding: 11%;
    margin-top: -20%;
  }
  /* Profile; Notification; Help&Policies */
  #profile-setting p{
    font-size: 1.5em;
    color: #723086;
    font-weight: 700;
    margin-top: 10%;
  }
  #profile-setting a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 1.25em;
  }
  
  #profile-setting a:hover{
    color: #c46a7d;
  }
  
  #profile-setting ul{
    list-style: none;
  }