.movieCenter {
    margin: 0 auto;
    background-color: rgb(175, 162, 162);
    width: 80%;
    border-radius: 1em;
}
hr {
    border: 1px solid #000000;
    margin-bottom: 25px;
  }
  
.card-group {
    padding: 5%;
}

body {
    background-color: #3b3a3a;
}

.movieCenterTitle {
    text-align: center;
}

.winningMovie {
    margin: 0 auto;
    max-width: 90%;
}
.container{
    padding: 3%;
    margin: 3% auto 3% auto;
    border-radius: 0.5rem;
    background: #ffffff;
}